<p id="notice"><%= notice %></p>
<h1>Sign Up Portal</h1>
<%= link_to "Student SignUp", new_student_path, {:class => "link-dark"} %> or
<%= link_to "Instructor SignUp", new_instructor_path, {:class => "link-dark"} %><br>
<%= link_to "admin", new_user_path %>