<p style="color: green"><%= notice %></p>

<%#= render @enroll %>

<div>
 <%# if current_user.user_type == "student" %>
  <%#= link_to "Back to enrolls", enrolls_path, {:class => "link-dark"} %>
  <p> Student Enrolled </p>

</div>
<%end %>
