<div id="<%= dom_id admin %>">
  <p>
    <strong>Name:</strong>
    <%= admin.Name %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= admin.Phone_Number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= admin.email %>
  </p>

</div>
