<div id="<%= dom_id instructor %>">
  <p>
    <strong>Name:</strong>
    <%= instructor.Name %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= instructor.Department %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= instructor.email %>
  </p>

</div>
