<h1>Editing instructor</h1>

<%= render "form", instructor: @instructor, edit: @edit %>

<br>

<div>
  <%= link_to "Show this instructor", @instructor, {:class => "link-dark"} %> |
  <%= link_to "Back to instructors", instructors_path, {:class => "link-dark"} %>
</div>
