<div>
<% if current_user.user_type == "instructor" %>
<h> Enrolled Students </h>
    <ol>
    <% @students.each do |stu| %>
        <li>
          <%= link_to student_path(stu.student_id, :course_id => @cid) do %>
            <%= Student.where(:id => stu.student_id).pluck(:email).first %>
            <%= link_to "Remove", student_test_path(:student_id => stu.student_id, :course_id => @cid) %>
          <% end %>
        </li>
    <% end %>
  </ol>
<% end %>

</div>